// COLORS
$primary-color: #333333;
$primary-hover: #404040;
$secondary-color: #ffffff;
$secondary-hover: #D7D7D7;
$color-color: #2e9ac1;
$color-hover: #33add6;
$dark-overlay: rgba(0, 0, 0, 0.7);
$color-overlay: rgba(46, 154, 193, 0.7);



$light-bg: #F6F5F3;




// FONT STYLES
$font-roboto: 'Roboto';